{% extends "base.html" %}

{% block title %}Contact Us - AI Learning Platform{% endblock %}

{% block content %}
  <div id="content-ar" style="display: block;">
    <div class="contact-section">
      <h1>اتصل بنا</h1>
      <div class="contact-info">
        <h2>معلومات التواصل</h2>
        <p><i class="fas fa-envelope"></i> البريد الإلكتروني: info@ai-fun-learning.com</p>
        <p><i class="fas fa-phone"></i> 0504701690: +966</p>
        <p><i class="fas fa-map-marker-alt"></i> العنوان: مكة، المملكة العربية السعودية</p>
      </div>

      <div class="social-media">
          <a href="https://www.tiktok.com/@aifunlearning" target="_blank" class="fab fa-tiktok"></a>
          <a href="https://x.com/aifunlearning" target="_blank" class="fa-brands fa-x-twitter"></a>
          <a href="https://instagram.com" target="_blank" class="fab fa-instagram"></a>
      </div>
    </div>
  </div>

  <div id="content-en" style="display: none;">
    <div class="contact-section">
      <h1>Contact Us</h1>
      <div class="contact-info">
        <h2>Contact Information</h2>
        <p><i class="fas fa-envelope"></i> Email: info@ai-fun-learning.com</p>
        <p><i class="fas fa-phone"></i> Phone: +966-504701690</p>
        <p><i class="fas fa-map-marker-alt"></i> Address: Makkah, Saudi Arabia</p>
      </div>

      <div class="social-media">
          <a href="https://www.tiktok.com/@aifunlearning" target="_blank" class="fab fa-tiktok"></a>
          <a href="https://x.com/aifunlearning" target="_blank" class="fa-brands fa-x-twitter"></a>
          <a href="https://instagram.com" target="_blank" class="fab fa-instagram"></a>
      </div>
    </div>
  </div>

  
{% endblock %}